<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--external DB config file-->
   <connectionStrings>
         <add name="travelexpertsLocalDB" connectionString="Data Source=ELF8OOSD197840\SQLEXPRESS01;Initial Catalog=TravelExperts;Integrated Security=True"
      providerName="System.Data.SqlClient" />
   </connectionStrings>
</configuration>
